.login-page {
    min-height: 100vh;
    background: #f1f3f6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    width: 900px;
    height: 520px;
    background: white;
    display: flex;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* LEFT */
.login-left {
    width: 40%;
    background: #2874f0;
    color: white;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.login-left h1 {
    font-size: 28px;
}

.login-left p {
    font-size: 16px;
    line-height: 1.5;
}

.login-illustration {
    width: 100%;
    max-width: 220px;
}

/* RIGHT */
.login-right {
    width: 60%;
    padding: 40px;
}

.login-right label {
    font-size: 14px;
    color: #555;
}

.login-right input {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.terms {
    font-size: 12px;
    color: #777;
    margin-bottom: 16px;
}

.terms span {
    color: #2874f0;
    cursor: pointer;
}

.otp-btn {
    width: 100%;
    background: #fb641b;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.divider {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.divider span {
    background: white;
    padding: 0 10px;
    color: #999;
}

.divider::before {
    content: "";
    height: 1px;
    background: #ddd;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: -1;
}

.google-btn {
    width: 100%;
    border: 1px solid #ddd;
    padding: 10px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    border-radius: 6px;
    cursor: pointer;
}

.google-btn img {
    width: 18px;
}

.signup {
    margin-top: 20px;
    font-size: 14px;
    text-align: center;
}

.signup span {
    color: #2874f0;
    cursor: pointer;
}